<p id="notice"><%= notice %></p>

<h1>Houses List</h1>

<div class="media">
  <% @houses.each do |house| %>
  <img class="d-flex align-self-center mr-3" <%= image_tag(house.photo.url, size: "600x400") %>
  <div class="media-body">
    <h5 class="mt-0">
      <%= house.property_type %>
      <%= image_tag "icon-bed.png", size: "60x60", alt: "bedroom icon" %>house.bedrooms %>
      <%= image_tag "bath_icon.png", size: "60x60", alt: "bathroom icon" %>house.bathrooms %>
      <%= image_tag "car_icon.png", size: "60x60", alt: "parking icon" %>house.parking %>

  </div>
</div>


        <%= image_tag(house.photo.url, size: "600x400") %><br>
        <%= house.user.email %>
        <%= house.description %>
        <%= house.property_type %>
        <%= house.bedrooms %>
        <%= house.bathrooms %>
        <%= house.parking %>
        <%= house.address %>
        <%= house.city %>
        <%= house.state %>
        <%= house.postcode %>
        <%= house.country %>
        <%= link_to 'Show', house %>
        <% if house.user == current_user %>
        <%= link_to 'Edit', edit_house_path(house) %>
        <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>

<br>

<%= link_to 'Upload Your House', new_house_path %>
