<div class="container-fluid">
  <p id="notice"><%= notice %></p>


    <h5><%= link_to 'Back', houses_path %></h5>
  <% if @house.user == current_user %>
    <h5><%= link_to 'Edit', edit_house_path(@house) %> | <%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
  <% end %>


  <%= image_tag(@house.photo.url, size: "600x400") %>
  <br><br>
  <p>
    <strong>Bedrooms: </strong><%= @house.bedrooms %> | <strong>Bathrooms: </strong><%= @house.bathrooms %> | <strong>Parking: </strong><%= @house.parking %>
  </p>

  <p>
    <%= @house.address %><%= @house.city %> <%= @house.state %> <%= @house.postcode %> <%= @house.country %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= @house.property_type %>
  </p>

  <p>
    <%= @house.description %>
  </p>



  <p>
    <strong>Owner: </strong><%= @house.user.first_name %> <%= @house.user.last_name %>
  </p>

  <p>
    <%= @house.user.email %>
  </p>

  <div class="contact">
    <h5><%= link_to "Contact Owner", enquiry_path %></h5>
  </div>

  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACoAriN0eYQHOjyTi1B7kpCmafJckpxqI
      &q=<%= @house.full_address %>" allowfullscreen>
  </iframe><br><br>

</div>
